<!DOCTYPE html>
<html lang="en">
<head>

{% block metatags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
<meta name="description" content={% if request.url_rule.endpoint == "scorecard" %}"SunshineScorecard for {{ pol['title'] }} {{ pol['name'] }}"{% else %}"SunshineScorecard: Documenting Florida legislators' support for open government in {{edition}} "{% endif %} />
<meta property="og:description" content={% if request.url_rule.endpoint == "scorecard" %}"SunshineScorecard for {{ pol['title'] }} {{ pol['name'] }} in {{edition}}"{% else %}"SunshineScorecard: Documenting Florida legislators' support for open government in {{edition}}"{% endif %} />
<meta property="og:title" content="SunshineScorecard gives grades to Florida lawmakers for their support of -- and opposition to -- open government." />
<meta property="og:image" content="{{ baseurl }}static/sunshinescorecard-fbwide.png" />
<meta property="og:url" content="{{ baseurl[:-1] }}{{ request.path }}" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@orlandosentinel" />

<meta name="ghm:byline" content="mike stucka, pbpostdata">
<meta name="ghm:category" content="News">
<meta name="ghm:contentType" content="Article">
<meta name="ghm:keywords" content="politics, legislature">
<meta name="ghm:stateabbreviation" content="FL">
<meta name="ghm:gacode" content="UA-116574139-2">
<script src="https://apps.palmbeachpost.com/ghmmetrics/ghmmetricsv02.js" type="application/javascript"></script>

<title>{% if request.url_rule.endpoint == "scorecard" %}SunshineScorecard for {{ pol['title'] }} {{ pol['name'] }}{% else %}SunshineScorecard: Documenting Florida legislators' support for open government{% endif %}</title>
{% endblock metatags %}

{% block styles %}
<link href="/static/base.css" rel="stylesheet"> 
<!--was <link href="{{buildurl}}static/base.css" rel="stylesheet">-->

{% endblock styles %}

{% block fontawesome %}
<script src="https://use.fontawesome.com/2b8e6f392d.js"></script>
{% endblock fontawesome %}

{% block bootstrap4support %}
<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
<script src="/static/js/countyfinder.js"></script>
<!--replace /static with {{buildurl}}static-->
{% endblock bootstrap4support %}

{% block explainertext %}    
    <script>
        $(document).ready(function(){
            $(".explainertoggleholder").click(function(){
                $(".explainertext").toggle();
                        return false;
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $('.explainertoggleholder').click(function(){
                var $this = $(this);
                $this.toggleClass('explainertoggle');
                if($this.hasClass('explainertoggle')){
                $this.text('Hide explanation');         
                } else {
                    $this.text('Show explanation');
                }
            });
        });;
    </script>
    
{% endblock explainertext %}



</head>
<body>

{% block navbar %}
    <div class="topnav" id="topnav">
        <div class="logo" id="logo">
            <!--add {{buildurl}} before static src instead of /-->
            <a href="{{ buildurl }}"><img src="/static/sunshinescorecard-h.png" alt="SunshineScorecard logo" id="headerimg" >
            </a>
        </div>
        <div class="logo-thin" style="padding:0px !important; padding-left:5px !important; padding-top:5px !important; height:50px !important; vertical-align: middle !important;">
            <a href="{{ buildurl}}"><img src="/static/sunshinescorecard-h.png" style="width:100%;" alt="SunshineScorecard logo">
            </a>
        </div>
       <div class="social-share-box social-share-box-top">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ baseurl }}{{ request.path }}" target="_blank">
                <i class="social-share-icon fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?url={{ baseurl }}{{ request.path }}&via=ndn&text=" target="_blank">
                <i class="social-share-icon fa fa-twitter-square" aria-hidden="true"></i>
            </a>
        </div>
       <!--disabling this until it's needed <div class="navmen" id="myTopnav">
                <a style="cursor:default" id="spacer">&nbsp;</a>
                <a href="#overview">overview</a>
                <a href="#methodology" style="margin-right:40px;">methodology</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
        </div>-->
    </div>

{% endblock navbar %}
<div class="contentbody">
{% block content %}
{% endblock content %}
</div>

{% block js_scripts %}


{% endblock js_scripts %}



{% block custom_js %}

{% endblock custom_js %}
</body>
</html>