<!DOCTYPE html>
<html lang="en">
<head>

{% block metatags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
<meta name="description" content={% if request.url_rule.endpoint == "scorecard" %}"Did {{ pol['title'] }} {{ pol['name'] }} support open government in Florida? Find out here."{% else %}"Sunshine Scorecard: Documenting Florida legislators' support for open government in {{edition}} "{% endif %} />
<meta property="og:description" content={% if request.url_rule.endpoint == "scorecard" %}"SunshineScorecard for {{ pol['title'] }} {{ pol['name'] }} in {{edition}}"{% else %}"Sunshine Scorecard: Documenting Florida legislators' support for open government in {{edition}}"{% endif %} />
<meta property="og:title" content="The Sunshine Scorecard gives grades to Florida lawmakers for their support of — and opposition to — open government." />
<meta property="og:image" content="https://content-static.naplesnews.com/projects/SunshineScorecard19/static/fb_graphic.png" />
<meta property="og:url" content="https://content-static.naplesnews.com/projects/SunshineScorecard19/index.html" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@ndn" />

<title>{% if request.url_rule.endpoint == "scorecard" %}SunshineScorecard for {{ pol['title'] }} {{ pol['name'] }}{% else %}SunshineScorecard: Documenting Florida legislators' support for open government{% endif %}</title>
{% endblock metatags %}



{% block fontawesome %}
<script src="https://use.fontawesome.com/2b8e6f392d.js"></script>
{% endblock fontawesome %}

{% block bootstrap4support %}
<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% block styles %}
<link href="{{buildurl}}/static/base.css" rel="stylesheet"> 
<!--was <link href="{{buildurl}}static/base.css" rel="stylesheet">-->

{% endblock styles %}

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
<script src="{{buildurl}}/static/js/countyfinder.js"></script>
<!--replace /static with {{buildurl}}static-->
{% endblock bootstrap4support %}

{% block explainertext %}    
    <script>
        $(document).ready(function(){
            $(".explainertoggleholder").click(function(){
                $(".explainertext").toggle();
                        return false;
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $('.explainertoggleholder').click(function(){
                var $this = $(this);
                $this.toggleClass('explainertoggle');
                if($this.hasClass('explainertoggle')){
                $this.text('Hide explanation');         
                } else {
                    $this.text('Show explanation');
                }
            });
        });;
    </script>
    
{% endblock explainertext %}



</head>
<body>

{% block navbar %}
    <div class="topnav" id="topnav">
        <div class="logo" id="logo">
            <!--add {{buildurl}} before static src instead of /-->
            <a href="{{ buildurl }}/index.html"><img src="{{buildurl}}/static/sunshinescorecard-h.png" alt="SunshineScorecard logo" id="headerimg" >
            </a>
        </div>
        <div class="logo-thin" style="padding:0px !important; padding-left:5px !important; padding-top:5px !important; height:50px !important; vertical-align: middle !important;">
            <a href="{{ buildurl}}/index.html"><img src="{{buildurl}}/static/sunshinescorecard-h.png" style="width:100%;" alt="SunshineScorecard logo">
            </a>
        </div>
       <div class="social-share-box social-share-box-top">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ baseurl }}{{ request.path }}" target="_blank">
                <i class="social-share-icon fa fa-facebook-square" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?url={{ baseurl }}{{ request.path }}&via=ndn&text=" target="_blank">
                <i class="social-share-icon fa fa-twitter-square" aria-hidden="true"></i>
            </a>
        </div>
       <!--disabling this until it's needed <div class="navmen" id="myTopnav">
                <a style="cursor:default" id="spacer">&nbsp;</a>
                <a href="#overview">overview</a>
                <a href="#methodology" style="margin-right:40px;">methodology</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a>
        </div>-->
    </div>

{% endblock navbar %}
<div class="contentbody">
{% block content %}
{% endblock content %}
</div>

{% block js_scripts %}


{% endblock js_scripts %}



{% block custom_js %}

{% endblock custom_js %}

<!--adobe analytics-->
<script type="text/javascript" src="http://tags.tiqcdn.com/utag/gci/naplesnews-cobrand/prod/utag.js"></script>
<script src="https://aas.gannettdigital.com/PNDN-AAS-INTERACTIVES/jab.min.js"></script>

<script type="json/pageinfo" class="pageinfo"> {
		"origin": "Naples Daily News",
		"share_url": "https://content-static.naplesnews.com/projects/SunshineScorecard19/index.html",
		"byline": "Janie Haseman",
		"headline": "Sunshine Scorecard 2019",
		"ssts": "news/data",
		"basePageType": "story",
		"full_url": "https://content-static.naplesnews.com/projects/SunshineScorecard19/index.html",
		"section_name": "news",
		"taxonomykeywords": "mental health, kids, florida",
		"published_date": "2019-10-02T0:00:00.000Z",
		"topic": "open records, florida, state government",
		"comma_ssts": "news,data",
		"canonical": "https://content-static.naplesnews.com/projects/SunshineScorecard19/index.html",
		"contenttype": "interactives",
		"shortheadline": "Sunshine Scorecard 2019",
		"texttype": "story",
		"description": "Sunshine Scorecard 2019",
		"seotitle": "Sunshine Scorecard 2019",
		"ssts_byline": "news:local:custom-page"
	} 
</script>

</body>
</html>