{% extends "_base.html" %}

{% block content %}

<div><A id="All-Counties"></A></div>
<!-- https://stackoverflow.com/questions/15391978/using-page-anchors-in-select-dropdown-list-in-html -->

<div class="navholder"><div class="navselector"><select name="dropdown" size="1" id="select-anchor">
    <option value="#All-Counties">Showing all counties</option>
{% for county in counties %}    <option value="{{ buildurl }}#{{ county.replace(" ", "-") }}">Jump to {{ county }} County</option>{% endfor %}
</select></div><div class="navabout"><A HREF="#explainertext">About this project</div>
</div><br clear>

<div class="container">
    {% for county in counties %}
        <div class="row county"><a class="anchor" id="{{ county.replace(" ", "-") }}"></A><h2>{{ county }} County</h2></div>
            {% for pol in counties[county] %}
            <div class="row pol">
                <div class="col polpic">
                    <img class="polpicpic" alt="Photo of {{ pol['title']}} {{ pol['first'] }} {{ pol['last'] }}" src="{{buildurl}}{{ url_for('static', filename="imgthumbs/" + pol['slug'] + ".jpg") }}">
                </div>
                <div class="col polbio">
                    <A HREF="{{buildurl}}{{ url_for('static', filename="../scorecard/" + pol['slug'] + "/") }}"><h4 class="polname">{{ pol['title'] }} {{ pol['name'] }}</h4>
                    <span class="biodeets">{{ pol['party'] }}-{{ pol['city']}} for District {{ pol['district']}}</span></A>
                </div>
                <div class="col grade">
                    <A HREF="{{buildurl}}{{ url_for('static', filename="../scorecard/" + pol['slug'] + "/") }}"><span class="basegrade grade">{{ pol["lettergrade"][0]}}<span class="superscript subgrade grade">{{ pol["lettergrade"][1:] }}</span></span><br><span class="pollink">Details</span>
                </A></div>
            </div>
            {% endfor %}
    {% endfor %}

    <p><i>Note: Locations vary by chamber. Representatives are shown with their reported city of residence. Senators are shown with their primary office city.</i></p>

    <table class="creditbox">
    <tr><td class="credit">Implementation</td><td>Adelaide Chen, The Orlando Sentinel; Mike Stucka, The Palm Beach Post</td></tr>
    <tr><td class="credit">Design</td><td>Adelaide Chen, The Orlando Sentinel; Mike Stucka and Mark Buzek, The Palm Beach Post</td></tr>
    <tr><td class="credit">Concept</td><td>Sunshine Week Committee, Florida Society of News Editors</td></tr>
    <tr><td class="credit">Bill selection</td><td>Barbara Petersen, First Amendment Foundation</td></tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr><td class="credit">Previous version</td><td><a href="http://apps.mypalmbeachpost.com/SunshineScorecard17/">2017 edition by The Palm Beach Post</a></td></tr>
    </table>
                <p><A class="anchor" id="explainertext"></A></p>
                <div class="">
                        <p>The scoring system for the Florida Society of News Editors assigns points for a list of critical government openness bills. Legislators get three points for a floor vote, seven points for co-sponsoring a bill and 10 points for sponsoring a bill that’s on the list. Votes against openness lose points; votes for openness gain points. Legislators got a bonus point for communicating with the Florida First Amendment Foundation about the bill. The scores were compared to the session’s most extreme legislator — good or bad — and turned into standard letter grades for comparison. A perfectly neutral legislator would get a C. In 2017, the most extreme good score paled in comparison with the most extreme worst vote, leaving no legislator with an A score but some with Fs.</p>
                        <p>The scoring system was criticized by high- and low-scoring legislators from both parties and both legislative chambers. Among the criticisms: The scoring system is too simplistic, didn’t consider the right bills, offered no way to measure a legislator’s overall positive attitude about the importance of open records, and extremely low-scoring legislators altered the scale in a way that made it all but impossible to get As.</p>
                        <p><span class="explainertextlink"><A HREF="http://www.palmbeachpost.com/news/local-govt--politics/legislators-grades-will-reveal-their-record-open-government/v2yhx6aXoVoTSpX7ouT3lJ/">More on grades</A></span> | <span class="explainertextlink"><A HREF="http://www.mypalmbeachpost.com/news/state--regional-govt--politics/florida-reporters-study-where-lawmakers-stand-public-records/MldjLghOYA2FwKP4q8QTfN/">About this project</A></span></p>
                </div> 

</div>



{% endblock content %}

{% block custom_js %}

    
{% endblock custom_js %}
