{% extends "_base.html" %}

<!-- insert nav/base here -->

<!-- insert these many people below nav... here -->

{% block content %}

<p class="polspacer">&nbsp;</p>


    <div class="container" >
        <div class="row pol"  style="margin-top:25px;">
            <div class="col-sm-3 polpic">
                <A HREF="{{ pol['personurl'] }}"><img class="polpicpic" alt="Photo of {{ pol['title']}} {{ pol['first'] }} {{ pol['last'] }}" src="{{'../../static/imgthumbs/'}}{{ pol['slug'] }}{{ '.jpg' }} "></A>
            </div>
            <div class="col-sm-5 polbio">
                <A HREF="{{ pol['personurl'] }}"><h4 class="polname">{{ pol['title'] }} {{ pol['name'] }}</h4></A>
                <span class="biodeets">{{ pol['party'] }}-{{ pol['city']}} for District {{ pol['district']}}<br>
                Representing {% set lastcounty = pol['counties'].split("|")[-1] %}{% for county in pol['counties'].split("|") %}<A HREF="{{buildurl}}#{{county.replace(" ", "-")}}">{{ county }}</A>{% if lastcounty != county %}, {% endif %}{% endfor %}</span>
            </div>

        </div>
        <div class="row pol">
            <div class="col-sm-8 grade">
                    <span class="basegrade grade normalweight">Overall grade: </span><span class="basegrade grade">{{ pol["lettergrade"][0]}}<span class="superscript subgrade grade">{{ pol["lettergrade"][1:] }}</span></span><span class="explainertoggleholder"><span class="explainertoggle">Show explanation</span></span>

                <div class="explainertext">
                    {% include 'explainertext.html' %}
                </div>                    
            </div>
        </div>
        <div class="row pol">
            <div class="col-sm-8">
                In a standardized range of -{{ pol['potentialscore'] }} to {{ pol['potentialscore'] }} points, {{ pol['name'] }} received {{ pol['numericscore'] }} points for a grade of {{ pol['lettergrade'] }}. See explanation for more.
            </div>
        </div>
        
        <div class="row votes">
            <div class="col-sm-2 votehead">Bill No.</div>
            <div class="col-sm-4 votehead">Description</div>
            <div class="col-sm-2 votehead">Action</div>
            <div class="col-sm-1 votehead goright">Points</div>
        </div>

        {% for vote in pol["votes"] %}

            <div class="row votes">
                <div class="col-sm-2 voteaction">
                    {%- if vote['vote URL'] | length > 1 -%}
                        <a href="{{ vote['vote URL'] }}" target="_blank">
                    {%- else -%}
                        <a href="{{ vote["url"] }}" target="_blank">
                    {%- endif -%}
                    {%- if vote['slug'] | length > 1 -%}
                        {{ vote['slug'] }}
                    {%- else -%}
                        {{ vote['billno'] }}
                    {%- endif -%}
                </A></div>
                <div class="col-sm-4 voteaction"><A HREF="{{ vote["url"] }}" target="_blank">{{ vote['description'] }}</A></div>
                <div class="col-sm-2 voteaction"><A HREF="{{ vote["url"] }}" target="_blank">{{ vote['vote'] }}</A></div>
                <div class="col-sm-1 voteaction goright {% if vote['points'][0] != "-" %}positivevote {% else %}negativevote{% endif %}"><A HREF="{{ vote["url"] }}" target="_blank">
                    {%- if vote['points'][0] != "-" %}+{%- endif -%}
                
                    {{- vote['points'] -}}
                </A></div>
            </div>
        {% endfor %}
        {% if pol['committeesdict'] | length > 0 %}
            <br><div class="row votes">
                <div class="col-sm-8"><b>Committees voted in:</b><br>
                    {% for cmte in pol['committeesdict'] %}
                        &nbsp;&nbsp;&nbsp;{{ pol['chamber'] }} {{ pol['committeesdict'][cmte] }}<br>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        
        
        <div class="row polbottomlinks">
            <div class="col-sm-3">
                <A HREF="../{{ pol["previousslug"] }}/">
                <i class="fa fa-caret-left inline"></i><br>
                {{ pol["previousname"] }}</A>
            </div>
            <div class="col-sm-2 center">
                <A HREF="http://content.orlandosentinel.com/SunshineScorecard18/"><i class="fa fa-home inline center" aria-hidden="true"></i></A>
            </div>
            <div class="col-sm-4 right">            
                <A HREF="../{{ pol["nextslug"] }}/">
                <i class="fa fa-caret-right inline"></i><br>
                {{ pol["nextname"] }}</A>
            </div>
        </div>
        
    </div>


{% endblock content %}

{% block custom_js %}
    
{% endblock custom_js %}


<!-- insert footer here  -->
